<div>
  <div>
      <h2>Angular Sweetalert - Programatically</h2>
  </div>
</div>
<div style="padding: 5px; margin: 5px;">
  <button style="margin-right: 10px;margin-left: 10px;" (click)="simpleAlert()">Basic Alert Msg</button>
  <button style="margin-right: 10px;margin-left: 10px;" (click)="alertWithSuccess()">Alert with Success</button>
  <button style="margin-right: 10px;margin-left: 10px;" (click)="confirmBox()">Confirm Box</button>
  <button style="margin-right: 10px;margin-left: 10px;" (click)="erroalert()">Error Alert</button>
  <button style="margin-right: 10px;margin-left: 10px;" (click)="topend()">Corner Alert Msg</button>
  <button style="margin-right: 10px;margin-left: 10px;" (click)="ajax_request()">Fetch GitHub Avatar</button>
</div>
